.hide_button {
    display: none;
  }
  
  .font-des {
    font-family: 'Mali', cursive;
    cursor: pointer;
  }
  
  @media screen and (max-width: 767px) {
    .card {
      width: 100%;
      margin: 0 auto;
    }
  }